<div class="text-center">
    <h1 class="display-4">Hi I'm Cristian I. Vargas⚡</h1>
    <h2>I'm a Junior Developer interesed in technologies .NET and JavaScript!</h2>
    <img id="photo" src="~/img/f-principal.png" alt="CIVs photo" />
</div>
<div class="text-center">
    <img id="photo-logo" src="~/img/logo.png" alt="Logo photo" />
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 section-welcome">
        <h2>Welcome to my Profile</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis mattis massa. Nullam commodo
            massa sem, sollicitudin maximus sem efficitur eu. Etiam venenatis felis sed leo commodo, in
            suscipit mauris iaculis. Fusce nisl felis, bibendum ac nibh et, finibus suscipit elit. Aenean sed
            lacus leo. Vivamus quis iaculis eros. Maecenas laoreet ornare nisi, vel pulvinar velit sagittis ac.
            Phasellus bibendum, erat ac ultricies aliquam, tellus ipsum ultricies enim, quis fermentum felis
            diam sed risus. Vivamus nec tempor diam, eget ornare eros.
        </p>
    </div>
</div>