@model IEnumerable<ProjectViewModel>

@if (Model is not null){
    <div class="text-center" style="padding-top: 6rem;">
        <h1>My recents projects</h1>
        <p>Some of my recentes projects...</p>
    </div>
    
    <partial name="_ProjectsList" model="Model" />
}