@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.name</h1>
    <h2>I'm a Junior Fullstack Dev in .NET & Javascript</h2>
    <img id="foto" src="~/imgs/f-principal.png"  alt="Foto de Cristian"/>
</div>
